@import '../posts-page/posts-page.component.scss';

@keyframes rotateLike {
    from {
        transform: rotate(0);
    }

    to {

        transform: rotate(360deg);
    }
}

.post-header {
    background: linear-gradient(to bottom, rgba(13, 0, 50, 0.8), rgba(0, 0, 0, 0.8));
    color: white;
    border-radius: 25px;
    padding-top: .7rem;

    h2 {
        padding-left: 1.5rem;
        font-size: larger;
    }
}

.post-content,
.respuesta {
    .usuario {
        text-align: center;
        max-height: fit-content;
    }

    .texto {
        background-image: url('/assets/background/interfaz.jpg');
        background-size: contain;
        background-color: rgba(233, 187, 235, 0.757);
        background-blend-mode: lighten;
        color: purple;
    }

    .infor {
        text-align: right;
        font-size: small;
    }

    .acciones {
        text-align: right;
    }
}

.likes {
    border-radius: 5px;

    .btn-like {
        border: none;
        background-color: transparent;

        &:hover {
            animation: rotateLike 1s ease-in;
            fill: hsl(0deg 100% 50% / 60%);
        }
    }
}

.comments-form {
    position: fixed;
    margin: 1.5rem;
    bottom: 0;
    right: 0;
}

.imagencarrusel {
    height: 100%;
    width: 100%;
    object-fit: cover;
}