<div class="fondo-card">
    <form (ngSubmit)="sendPost()" [formGroup]="postForm" class="mt-4">
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control input" name="title" formControlName="title"
                [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" />
            @let titleErrors = postForm.get('title')?.errors;
            @if(titleErrors?.['required']) {
            <div class="invalid-feedback">Introduce título</div>
            }
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control input" name="description" formControlName="description"
                [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" rows="3">
          </textarea>
            @let descErrors = postForm.get('description')?.errors;
            @if(descErrors?.['required']) {
            <div class="invalid-feedback">Introduce una descripción</div>
            }
        </div>
        <div class="mb-3">
            <label for="tag" class="form-label">Nave nodriza ( # ): </label>
            <input type="text" class="form-control input" name="tag" formControlName="tag"
                [validationClasses]="{valid: 'is-valid', invalid:'is-invalid'}" />
            @let tagErrors = postForm.get('tag')?.errors;
            @if(tagErrors?.['required']) {
            <div class="invalid-feedback">Debes asociar el post a una tag</div>
            }
        </div>
        <ng-container formGroupName="multimediaGroup">
            <div class="selectfiles">
                <div class="files">
                    @if (imagesBase64[0]) {
                    <div class="imgContainer">
                        <img [src]="imagesBase64[0]" alt="" id="firstBase64" class="imgPreview" />
                    </div>
                    }
                    <button type="button" class="inputfile" (click)="fileImage.click()">
                        <span>+</span>
                        <input type="file" class="form-control d-none" name="file1" #fileImage encodeBase64
                            (encoded)="imagesBase64[0] = $event" />
                    </button>
                </div>
                <div class="files">
                    @if (imagesBase64[1]) {
                    <div class="imgContainer">
                        <img [src]="imagesBase64[1]" alt="" id="secondBase64" class="imgPreview" />
                    </div>
                    }
                    <button type="button" class="inputfile" (click)="fileImage2.click()" [disabled]="!imagesBase64[0]">
                        <span [ngClass]="{'d-none': !imagesBase64[0]}">+</span>
                        <input type="file" class="form-control d-none" name="file2" #fileImage2 encodeBase64
                            (encoded)="imagesBase64[1] = $event" />
                    </button>
                </div>
                <div class="files">
                    @if (imagesBase64[2]) {
                    <div class="imgContainer">
                        <img [src]="imagesBase64[2]" alt="" id="thirdBase64" class="imgPreview" />
                    </div>
                    }
                    <button type="button" class="inputfile" (click)="fileImage3.click()" [disabled]="!imagesBase64[1]">
                        <span [ngClass]="{'d-none': !imagesBase64[1]}">+</span>
                        <input type="file" class="form-control d-none" name="file3" #fileImage3 encodeBase64
                            (encoded)="imagesBase64[2] = $event" />
                    </button>
                </div>
                <div class="files">
                    @if (imagesBase64[3]) {
                    <div class="imgContainer">
                        <img [src]="imagesBase64[3]" alt="" id="fourthBase64" class="imgPreview" />
                    </div>
                    }
                    <button type="button" class="inputfile" (click)="fileImage4.click()" [disabled]="!imagesBase64[2]">
                        <span [ngClass]="{'d-none': !imagesBase64[2]}">+</span>
                        <input type="file" class="form-control d-none" name="file4" #fileImage4 encodeBase64
                            (encoded)="imagesBase64[3] = $event" />
                    </button>
                </div>
            </div>
        </ng-container>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn m-2" [disabled]="postForm.invalid">
                {{ this.post() ? "Editar planeta" :
                "Terraformar" }}
            </button>
            <button type="button" class="btn m-2" (click)="dismiss()">
                Abortar misión
            </button>
        </div>
    </form>
</div>
@if (error()) {
<modal-error [error]="error()!"></modal-error>
}