<div class="fondo-card mt-4 col-10">
    @for (tag of tags(); track tag) {
    <h2><img src="assets/normal/normal_satellite_saved.png" alt="Ir al post" width="40px" /> {{ tag }}</h2>
    @for (post of savedPosts(); track post.id) {
    @if (post.tag === tag) {
    <a [routerLink]="['/home/posts', post.id]">
        <posts-card [post]="post"></posts-card>
    </a>
    }
    }
    }@empty {
    <p>No tienes estaciones espaciales activas. ¡Guarda un post para que aparezca aquí!</p>
    }
</div>
@if (error()) {
<modal-error [error]="error()!"></modal-error>
}