<nav class="left-menu">
    <ul>
        <li>
            <a href="/home"><img src="assets/normal/normal_ufo_home.png" alt="Home Icon" /> Inicio</a>
        </li>
        <li>
            <a href="/explorer"><img src="assets/normal/normal_telescope_search.png" alt="Explorer Icon" /> Explorar</a>
        </li>
        <li>
            <a href="home/notifications"><img src="assets/normal/normal_satellite_notification.png"
                    alt="Notifications Icon" />
                Notificaciones</a>
        </li>
        <li>
            <a href="/chat"><img src="assets/normal/normal_aliens_chat.png" alt="Settings Icon" /> Chat</a>
        </li>
        <li>
            <a href="/saved"><img src="assets/normal/normal_satellite_saved.png" alt="Saved Icon" /> Guardados</a>
        </li>
        <li>
            <a href="/about-us"><img src="assets/normal/normal_alien_queens.png" alt="About Us Icon" /> Conócenos </a>
        </li>
    </ul>
</nav>