<div class="posts mb-3">
    <div class="info">
        <p class="mb-0 titulo">{{ post().title }}</p>
        <p class="desc mb-0">{{ post().content.description.substr(0,30) }}...</p>
        <p class="seccion">Sistema: {{ post().section.title }}</p>
    </div>
    <p class="user">{{ post().content.user!.username }}</p>
    <div class="extra">
        <p class="mb-0">{{ lastVisit() ? lastVisit()!.content.user!.username : post().content.user!.username }}</p>
        <p>{{ (lastVisit() ? lastVisit()!.content.updatedAt : post().content.updatedAt) | date: 'h:mm a - dd/MM/yyyy'
            }}
        </p>
    </div>
</div>