<div class="posts mb-3">
    <div class="info">
        <a [routerLink]="['/home/posts', post().id]">
            <p class="mb-0 titulo">{{ post().title }}</p>
            <p class="desc mb-0">{{ post().content.description }}</p>
        </a>
        <p class="seccion">Sistema: {{ post().section.title }}</p>
    </div>
    <p class="user">{{ post().content.user.username }}</p>
    <div class="extra">
        <!-- TODO: Añadir última persona en comentar y fecha -->
        <p class="mb-0">Personajo</p>
        <p>24/3/2025</p>
    </div>
</div>