<div class="container-fluid text-center" style="margin-top: 1.5rem; ">
    <div class="row">
        <div class="col-12 col-md-8 m-4">
            <router-outlet></router-outlet>
        </div>
        <!-- TODO: No definitivo -->
        <div class="col-12 col-md-3 m-4">
            <div class="row fondo-card">
                <div class="col m-3" style="border: 2px solid rgb(26, 100, 78);">
                    Post recientes. PRÓXIMAMENTE
                </div>
            </div>
            <div class="row fondo-card">
                <div class="col m-3" style="border: 2px solid rgb(26, 100, 78);">
                    Más comentados. PRÓXIMAMENTE
                </div>
            </div>
            <div class="row fondo-card">
                <div class="col m-3" style="border: 2px solid rgb(26, 100, 78);">
                    Otra cosa. PRÓXIMAMENTE
                </div>
            </div>
        </div>
    </div>
</div>