<div class="principal text-center" style="margin-top: 1.5rem">
    <div class="home m-4">
        <router-outlet></router-outlet>
    </div>
    <div class="m-4 info-aside">
        <div class="fondo-card">
            <h3 style="font-size: medium">Últimos planetas formados</h3>
            <ul>
                @for (post of ordenadosFecha(); track post.id) {
                <li class="underline" style="font-size: small;">
                    <a [routerLink]="['/home/posts', post.id]">
                        <span class="post-aside">{{ post.title }}</span>
                        <span>{{ post.content.updatedAt | date: 'h:mm dd/MM/yyyy'
                            }}</span>
                    </a>
                </li>
                }
            </ul>
        </div>
        <div class="fondo-card">
            <h3 style="font-size: medium">Planetas más visitados</h3>
            <ul>
                @for (post of ordenadosComentarios(); track post.id) {
                <li class="underline" style="font-size: small;">
                    <a [routerLink]="['/home/posts', post.id]">
                        <span class="post-aside">{{ post.title }}</span>
                        <span>{{ post.numComments }}</span>
                    </a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>