<form (ngSubmit)="addTopic()" [formGroup]="topicForm" class="mt-4 row">
    <div class="col-6">
        <label for="title" class="form-label">Nombre</label>
        <input type="text" class="form-control input" name="title" formControlName="title"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
    </div>
    <div class="col-6">
        <label for="desc" class="form-label">Descripción</label>
        <input type="text" class="form-control input" name="desc" formControlName="description"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outlined-primary m-2" [disabled]="topicForm.invalid">
            Guardar
        </button>
        <button type="button" class="btn btn-outlined-danger m-2" (click)="hideForm()">
            Abortar misión
        </button>
    </div>
</form>