<form (ngSubmit)="sendSection()" [formGroup]="sectionForm" [ngClass]="{ 'row': '!partial'}">
    @if (!partial){
    <div class="col-6">
        <label for="title" class="form-label">Nombre</label>
        <input type="text" class="form-control input" name="title" formControlName="title"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
    </div>
    @if (showSelect()){
    <div class="col-6">
        <label for="topic" class="form-label">Tema</label>
        <select name="topic" class="form-control input" formControlName="topic">
            @for (topic of allTopics; track topic.id){
            <option value="{{ topic.id }}">{{ topic.title }}</option>
            }
        </select>
    </div>
    }
    <div [ngClass]=" { 
        'col-12': showSelect(), 
        'col-6': !showSelect() }">
        <label for="desc" class="form-label">Descripción</label>
        <input type="text" class="form-control input" name="desc" formControlName="description"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
    </div>
    <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="btn btn-outlined-primary m-2" [disabled]="sectionForm.invalid">
            Guardar
        </button>
        <button type="button" class="btn btn-outlined-danger m-2" (click)="hideForm()">
            Abortar misión
        </button>
    </div>
    }@else {
    <form (ngSubmit)="sendSection()" [formGroup]="sectionForm" class="mt-4 d-flex">
        <input type="text" class="form-control input titulo" name="title" formControlName="title"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
        <input type="text" class="form-control input desc" name="description" formControlName="description"
            [validationClasses]="{valid: 'is-valid', invalid: 'is-invalid'}" />
        <div class="d-flex otros">
            <button class="btn m-1" type="submit" [disabled]="sectionForm.invalid">
                <i class="bi bi-floppy"></i>
            </button>
            <button type="button" class="btn m-1" (click)="hideForm()">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </form>
    }
</form>